* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

button {
  font-family: inherit;
}

input, select, textarea {
  font-family: inherit;
  font-size: 1rem;
}

a {
  color: inherit;
}
